html {
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	margin: 0;
}

admin-panel {
	display: block;
	padding: 1rem;
	max-width: 600px;
	margin: auto;
}

structure-list,
content-list {
	display: grid;
	gap: 1rem;
	padding: 1rem;
	border: 1px dotted currentColor;
	border-radius: 5px;
	color: orange;
}

structure-item,
content-item {
	display: block;
}

content-item {
	padding: 0.5rem;
	border: 1px solid currentColor;
	border-radius: 5px;
	color: red;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	display: flex;
	justify-content: space-between;
}

content-item::after {
	content: '☰ ';
}

content-item.is-dropTarget {
	background-color: pink;
}